.containerm{
    display:absolute !important;
    background-color:#545454ad;
    z-index:22;
    top: 0;
    bottom: 0;
    transition: all 0.3s;
    }
    
    .popup{
    
        width: 600px;
        height: 600px;
        background-color: white;
        z-index: 44;
        position: absolute;
        top: 20%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
          transition: all 0.3s;
    
        .close{
    
      position: relative;
        top: 14px;
        right: 19px;
        }
    
    }