$reset: 0;
$mtextcolor :#2d2d2d;
$mfontwidth : 500;
$stextcolor :white;
$mainfontsize: 20px;
@import 'nav';
@import 'hamburger';
@import 'popup';

@mixin brradius($radius){

    border-radius: $radius;
}

@mixin border($radiuss,$radistop ){

border-radius:$radiuss $radistop ;
border:$radistop solid gray;
}

@mixin background($background){
    width: 80px;
    height: 80px;
    // border:1px solid black;
    display: inline-block;
    margin: 5px;
    margin-top: 20px;
    background-image: url($background);
    background-size: cover;padding: 22px;
    background-position: 50% 50%;
    
}


h2{

	transition: all 0.6s;
}

@mixin burger-arrow {
    display: block;
    height: 2px;
    width: 18px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    border: 1px solid black;
    

}

.menu_link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 50px;
    box-shadow: 1px 1px 3px gray;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;



    span {
        display: block;
        height: 2px;
        width: 18px;
        background-color: black;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;

        transition: 0.3s;


        &:after {
            @include burger-arrow;
            margin-top: 7px;
            content: "";
            background-color: red;
        }

        &:before {
            @include burger-arrow;
            margin-top: -9px;
            content: "";
            background-color: red;
        }
    }
}

.active {



    span {

        height: 0;

        &:after {

            @include burger-arrow;
            margin-top: 0;
            content: "";
            background-color: black;
            border: 1px solid black;
            transform: rotate(45deg);
            right: 0;
        }

        &:before {
            @include burger-arrow;
            margin-top: 0;
            content: "";
            background-color: black;
            border: 1px solid black;
            transform: rotate(-45deg);
            right: 0;
        }
    }
}





.main_text {

    line-height: 30px;
    width: 800px;
    margin: 0 auto;

    h2{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
        
    }


    div {

        padding-top: 250px;
        padding-bottom: 300px;

        &:nth-child(5) {
            padding-top: 100px;
            /*border: 1px solid red;*/
            padding-bottom: 800px;
        }
    }

    h1 {
        margin-top: 180px;
        margin-bottom: 40px;
        text-align: center;
        color:$mtextcolor + #686060;
    }

    p {
        text-align: center;
        letter-spacing: 1px;
        border: 1px solid #f0f0f0;
        padding: 30px;
        background-color: #fafafa;
        box-shadow: 1px 1px 1px #cfcfcf;
        color: black;
        font-weight: 100;
        @include border(30px,1px);

        
    }

    .five_text {

        margin-top: 200px;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
        }
    }
}


.tree_text{


    
        

    .imgs:nth-child(1) {

        @include background('../img/icon3_white.png');
       
    }

    .imgs:nth-child(2n) {

        @include background('../img/Icon_4 white.png');
       
    }

    .imgs:nth-child(3n) {

        @include background('../img/icon1_white.png');
       
    }

}



