$reset: 0;
$mtextcolor :#2d2d2d;
$mfontwidth : 500;
$stextcolor :white;
$mainfontsize:20px;

h2{
	transition: all 0.6s;
}

@mixin burger-arrow {
    display: block;
    height: 2px;
    width: 18px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    border: 1px solid black;
    

}

.menu_link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 50px;
    box-shadow: 1px 1px 3px gray;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;



    span {
        display: block;
        height: 2px;
        width: 18px;
        background-color: black;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;

        transition: 0.3s;


        &:after {
            @include burger-arrow;
            margin-top: 7px;
            content: "";
            background-color: red;
        }

        &:before {
            @include burger-arrow;
            margin-top: -9px;
            content: "";
            background-color: red;
        }
    }
}

.active {



    span {

        height: 0;

        &:after {

            @include burger-arrow;
            margin-top: 0;
            content: "";
            background-color: black;
            border: 1px solid black;
            transform: rotate(45deg);
            right: 0;
        }

        &:before {
            @include burger-arrow;
            margin-top: 0;
            content: "";
            background-color: black;
            border: 1px solid black;
            transform: rotate(-45deg);
            right: 0;
        }
    }
}

.menu {

    float: left;
    background-color: rgb(0, 182, 179);
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 20vw;
    left: -100vw;
    top: 0;
    transition: all 0.7s;

    &.actives {
        transition: all 0.4s;
        left: 0;
    }


    ul {
        list-style: none;
        padding: $reset;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: 30%;


        a {

            color:  $stextcolor;
            line-height: 4;
            font-weight: ($mfontwidth - 200);
            letter-spacing: 3px;
            transition: all 0.5s;
            display: block;
            width: 100%;
            font-size: ($mainfontsize + 1px) ;

            &:hover {


                text-decoration: none;
                color: black;
                background-color: #ffffff45;
                padding: 0;
                text-align: center;
            }
        }
    }
}


.nav{

	width: 100%;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
	padding-bottom:5px;
	position: fixed;	
	line-height: 80px;
	background-color: #fafafa;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 1px 1px 1px #cfcfcf;
	z-index: 0;
	
	button{
	margin-left:10px;
	border-radius: 300px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	border:none;
	border: 1px solid #d9d9d9;
	font-weight: 300;


	a{

		color:black;
		font-weight: $mfontwidth;
		list-style: none;
		text-decoration:none;


			&:hover{

		background-color: purple;
		color:white;
		font-weight: 800;

	}


	}

	&:hover{

		background-color: purple;
		color:white;
		font-weight: 800;

	}




	}
	


}

.main_text {

    line-height: 30px;
    width: 800px;
    margin: 0 auto;

    h2{
        display: flex;
        
    }


    div {

        padding-top: 300px;
        padding-bottom: 300px;

        &:nth-child(5) {
            padding-top: 100px;
            /*border: 1px solid red;*/
            padding-bottom: 800px;
        }
    }

    h1 {
        margin-top: 180px;
        margin-bottom: 40px;
        text-align: center;
        color:$mtextcolor;
    }

    p {
        text-align: center;
        letter-spacing: 1px;
        border: 1px solid #f0f0f0;
        padding: 30px;
        background-color: #ffc664;
        box-shadow: 1px 1px 1px #cfcfcf;
        color: black;
        font-weight: 100;
    }

    .five_text {

        margin-top: 200px;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
        }
    }
}

.containerm{
display:absolute !important;
background-color:#545454ad;
z-index:22;
top: 0;
bottom: 0;
transition: all 0.3s;
}

.popup{

	width: 600px;
    height: 600px;
    background-color: white;
    z-index: 44;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  	transition: all 0.3s;

    .close{

  position: relative;
    top: 14px;
    right: 19px;
    }

}


